* {
  box-sizing: border-box;
}

header,
footer {
  border: 4px solid rgb(255, 207, 215);
  background-color: pink;
  height: 100px;
  clear: both;
}

.column-small {
  width: 33.3333%;
}

.column-half {
  width: 50%;
}

.column {
  border: 3px solid lightcyan;
  background-color: plum;
  height: 300px;
  float: left;
}
