* {
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  clear: both;
}

header {
  border: 10px solid #d3a625;
  background-color: #740001;
  padding: 10px solid #ae0001;
}

footer {
  border: 10px solid #aaaaaa;
  background-color: #1a472a;
  padding: 10px solid #000000;
}

.box-item {
  height: 600px;
  width: 33.3333%;
  border: solid 10px #ffdb00;
  background-color: #0e1a40;
  float: left;
}

.three-houses {
  width: 20%;
}

.lonely-house {
  width: 40%;
}

@media screen and (min-width: 900px) {
  header,
  footer {
    clear: both;
  }

  header,
  footer,
  .box-item {
    border: 2px solid black;
    background-color: white;
  }
  .box-item {
    float: left;
    display: flex;
  }
}

@media (hover: hover) {
  header:hover {
    background-color: #1a472a;
  }

  footer:hover {
    background-color: #000000;
  }

  .box-item:hover {
    background-color: #aaaaaa;
  }
}

@media screen and (max-width: 400px) {
  header,
  .box-item,
  footer {
    border: 10px solid #d3a625;
    background-color: #740001;
    padding: 10px solid #ae0001;
  }
  .box-item {
    float: left;
    width: 100%;
    flex-direction: column;
  }
}
