* {
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  clear: both;
}

.firstbox {
  height: 200px;
}

.column {
  height: 300px;
  float: left;
}

.column-one {
  width: 33.3333%;
}

.column-two {
  width: 66.6666%;
}

.type-cottoncandy {
  border: 4px solid rgb(160, 116, 221);
  background-color: rgb(140, 235, 210);
}

.type-bananasplit {
  border: rgb(248, 23, 135) solid 4px;
  background-color: rgba(229, 255, 0, 0.822);
}
